<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../parcials/head.ejs')%>
    <link rel="stylesheet" href="/css/contacto.css">
</head>
<body>
  <%-include('../parcials/nav.ejs')%>

        <div class="container">
            <div class="row">
              <div class="col">
                <div class="card-body">
              <div class="co">
                <h1>Contacto</h1>
              </div>
                <form >
                <input class="inp" type="text" placeholder="Nombre">
                <input class="inp" type="text" placeholder="Email" >
                <input class="inp" type="text" placeholder="Telefono" >
                <input  class="me" type="text" placeholder="Mensaje">
                <input  type="submit" value="Enviar">
                </for>
            
                <div class="card">
              <img src="/img/fast.jpeg" alt="">
            </div>
            
          </div>
              </div>
        </div>
          </div>
        </div>
        
        </section>
        
</body>
</html>
