<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../parcials/head.ejs')%>
    <link rel="stylesheet" href="/css/inicio.css">
</head>
<body>
    <%-include('../parcials/nav.ejs')%>
        
        <div class="conteiner">
            <div class="row">
                <div class="col r">
                    <div class="one">
                        <h1 class="ti">Nuestra historia</h1>
                        <p>Gourmandises nace en la pandemia por un grupo de cocineros que al quedarse sin trabajo por la
                            pandemia, deciden empezar un pequeño emprendimiento.Y asi nace un restaurante delivery de
                                comida fast food gourmet.</p>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>